header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 73, 65);
    padding: .3em 2em;
}

.header__title {
    color: rgb(225, 225, 225);
}
